.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  margin-bottom: 16px;
  background-color: #494e5c;
  border-radius:  0 0 8px 8px;
}

.title {
  color: #ced2db;
  animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-direction: alternate;
  animation-duration: 3s;
}

.link > a {
  font-size: 20px;
  text-decoration: none;
}

@keyframes pulsate {
  from {
    text-shadow: #e6de00 1px 0 3px;
  }
  to {
    text-shadow: #e6de00 1px 0 7px;
  }
}
