.cardContainer {
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background: gray;
  color: white;
}

.cardContainer > h1,
.cardContainer > h4 {
  margin: 4px 0;
}

.cardImg {
  width: 100%;
  height: 420px;
  border-radius: 8px;
  object-fit: cover;
}
